*{
    box-sizing: inherit;
}
body{
    width: 100%;
    display: block;
    
}
html{
     /* font-size: 100%; */
     line-height: 16px;
     overflow-x: hidden;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
}

/* Header */
.menu-bar {
    position: relative;
    text-align: center;
}
.dr-menu{
    display: flex;
    align-items: center;
}
.nav-bar > i {
    font-size: 26px;
    padding: 10px;
    color: #000000;
}
.menu-content {
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 200px;
}
.menu-content a {
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 36px;
    color: #000000;
}
/* Top menu */
.top-menu{
    padding: 7px 30px;
    background-color: #222222;
    width: 100%;
    /* max-width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
#menu i, a{
    color: rgb(82, 82, 82);
    font-size: 12px;
}
.menu__right-setting{
    margin-right: 33px;
}
.menu__right-setting i, .menu__right-login i{
    margin-right: 4px;
}
.menu__left i, a{
    font-size: 14px; 
    margin-right: 4px;
    letter-spacing: 0.4px;
}
.menu__left a{
    color: rgb(82, 82, 82);
}
.menu__right-setting a, .menu__right-login a{
    color: rgb(82, 82, 82);
}
.menu__left{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
#menu{
    display: flex;
    flex-wrap: wrap;
}
.menu__right-setting, .menu__right-login{
    display: flex;
    align-items: center;
}
.menu__right{
    justify-content: flex-end;
    align-items: baseline;
    display: flex;
}
/* Main menu */
.main-menu{
    display: block;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.row{
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 30px;
    height: 78px;  
    /* margin-left: auto;
    margin-right: auto; */
}
.menu__title .title, .menu__title{
    justify-content: center;
    display: flex;
}
.menu__logo{
    align-items: center;    
    display: flex;
    justify-content: flex-start;
}
.menu__logo h1{

    text-align: center;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 0.8em;
    line-height: 0.75em;
    width: 200px;
    height: 40px;
}
.menu__title .title{
    padding: 0px;
    margin-right: 60px;
}
.menu__logo h1:hover{
    color: #8262b5;
}
.title a{
    font-size: 14px;
    font-family: "Montserrat";
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    
}
.title li a i{
    font-size: 17px;
    color: #000000;
    font-weight: 900;
}
.menu__title{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 0px; */
    /* margin: 0 auto; */
}
.title a:hover{
    color: #8262b5;
}
.menu__title a i{
    color: #414141;
    font-size: 14px;
    font-weight: bold;
}
.menu__card{
    display: flex;
    justify-content: flex-end;
}
.menu__card i{
    color: #414141;
    font-size: 30px;
}
.menu__left i{
    color: #414141;
}
.pe-7s-cart{
    margin-left: 30px;
}
/* Content */
.type-content{
    display: flex;
    justify-content: center;
}
/* Banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 30px;
}
.banner__left-title h2{
    position: absolute;
    right: 94px;
    top: 295px;
    font-size: 30px;
    font-family: "Pacifico";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-weight: 850;
}
.banner__left{
    margin-right: 30px;
}
.banner__right-top{
    margin-bottom: 30px;
}
.banner__left-title a{

    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #8262b5;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 106px;
    height: 40px;
    position: absolute;
    right: 90px;
    top: 365px;
}
.banner__left-title a:hover{
    opacity: 0.7;
}
.banner-top-title .small{
    position: absolute; 
    left: 55px; 
    top: 70px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat";
    color: rgb(97, 97, 97);
    letter-spacing: 4px;
    margin-bottom: 0px;
}
.banner-top-title .make{
    position: absolute;
    left: 59px;
    top: 105px;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 5px;
    font-weight: 950;
    letter-spacing: 3px;
}
.banner-bottom-title .fol{
    position: absolute;
    left: 40px;
    top: 100px;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(97, 97, 97);
    line-height: 1.2;
    margin-bottom: 0px;
    font-weight: 500;
    letter-spacing: 2.5px;
}
.banner-bottom-title .black{
    position: absolute; 
    left: 40px; 
    top: 135px;
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: 850;
    margin-top: 5px;
    margin-bottom: 30px;
}
.banner-bottom-title a{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #8262b5;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 106px;
    height: 40px;
    position: absolute;
    left: 40px; 
    top: 175px;
}
.banner-bottom-title a:hover{
    opacity: 0.7;
}

/* Body */

/* .content{
    width: 90%;
    max-width: 1140px;
    font-size: 0px;
    margin-left: auto;
    margin-right: auto;
} */
/* Body Title */
.booth-title .franco{
    font-size: 12px;
    letter-spacing: 0.5em;
    font-weight: bold;
    color: #8262b5; 
    margin-top: 0px;
}
.booth-title .featured{
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-top: -5px;
}
.booth-line{
    background-color: rgb(130, 98, 181);
    width: 50px;
    height: 1px;
}
/* Body list */
.banner__left-img img, .banner-top-img img, .banner-bottom-img img{
    width: 100%;
}
.booth-list{
    margin-top: 50px;   
}
.list2, .list3, .list4{
    margin-left: 30px;
    /* margin: auto; */
}

.content-both-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
    margin-bottom: 30px;
}
.booth-list .both-list-addtocart a{
    position: absolute;
    left: 5px;
    top: 278px;
    background: #ffffff;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #424242;
    height: 38px;
    width: 120px;
    padding-left: 18px;
    
}
.booth-list a:hover{
    color: #8262b5;
}
.decreption-name{
    margin-top: 12px;
    margin-bottom: 7px;
}
.both-list-decreption .decreption-name a{
    font-size: 14px;
    font-family: "Montserrat";
    color: #000000;
    line-height: 1.857;
    text-align: left;
    font-weight: bold;
    letter-spacing: -0.3px;
}
.both-list-decreption .decreption-name a:hover{
    color: #8262b5;
}
.decreption-star{
    display: flex;
}
.decreption-star i, .decreption-star-black i{
    font-size: 12px;
    letter-spacing: 1.4px;
}
.both-list-decreption .decreption-star{
    color: #f8ba04;
}
.decreption-star-black{
    color: #d4d4d4;
    margin-top: -1.5px;
}
.decreption-price{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin-top: 9px;
}
.decreption-price p{
    margin-top: 0px;
    margin-left: 5px;
    color: #8262b5;
    font-weight: 700;
}
.decreption-price .brick{
    text-decoration: line-through;
    color: #999999;
}

/* Body blog */
.content-blog{
    background-image: url(./images/blog.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
}
.blog-title{
    margin-top: 78px;
    margin-left: 6px;
}
.blog-title .latest{
    font-size: 12px;
    letter-spacing: 0.5em;
    font-weight: bold;
    color: #8262b5;
}
.blog-title .new{
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 0px;
    letter-spacing: 3px;
}
.blog-line{
    background-color: rgb(130, 98, 181);
    width: 50px;
    height: 1px;
    margin: 0 auto;
    margin-top: 38px;
    z-index: 2;
}
.blog-content{
    margin-top: 50px;
}
.blog-list{
    display: flex;
    width: 100%;
    height: auto;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.blog-list-item {
    margin-right: 30px;
}
.blog-list-item {
    position: relative;
    width: 362px;
    max-width: 100%;
    height: 400px;
}
.calendar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #a1d1dd;
}
.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 80%;
    height: 80%;
}
.month {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.date {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.item-card {
    position: absolute;
    background-color: white;
}
.item-card a:hover{
    color: #8262b5;
}
.item-card .title{
    margin-top: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: left;
    color: #000;
    font-size: 16px;
    letter-spacing: -0.5px;
    /* margin-left: -100px; */
}
.item-card .content{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #424242;
    text-align: left;
    font-size: 14px; 
    line-height: 1.571;
    letter-spacing: 0.7px;
}
.item__information, .information{
    display: flex;
    align-items: center;
}
.line{
    background-color: rgb(237, 237, 237);
    position: absolute;
    width: 360px;
    height: 1px;
    margin-top: 3px;
}
.item__information .information{
    /* margin-right: 2px; */
    margin: 12px 13px 0px 20px;
}
.information .fa-comment, .information .fa-heart{
    padding-right: 3px;
}
.item-card .item{
    margin: 0px 20px 0px 20px;
}
.information a i{
    font-size: 14px;
    color: #999999;
}
.item__information a{
    font-size: 14px;
}
.item__information{
    height: 50px;
}
.information a{
    color: #999999;
}
.content-three-dots{
    margin-top: 20px;
    padding-bottom: 65px;
    color: #616161;
    text-align: center;
    font-size: 10px;
    letter-spacing: 5px;
}
/* .dot {
    color: #8262b5;
    font-size: 14px;
} */
.dot-active{
    color: #616161;
    font-size: 14px;
}
.dot:hover{
    color: #8262b5;
    font-size: 14px;
    /* .dot-active{
        color: #616161;
        font-size: 12px;
    } */
}

/* Footer */
/* Footer top */
.fran-footer{ 
    background-color: #222222;
}
.f-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%
}
.footer-top{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
/* .footer-top .title{
    position: relative;
} */
.p-footer{
    width: 110%;
}
.footer-left .title h4 {
    letter-spacing: 0.55px;
}
.footer-center .title h4{
    letter-spacing: 0.6px;
}
.footer-left, .footer-right{
    width: 263px;
    margin-bottom: 50px;
}
.footer-left ,.footer-center{
    margin-right: 125px;
}
.footer-center{
    width: 363px;
    margin-bottom: 50px;
}
.footer-top .title h4{
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(247, 247, 247);
    margin-top: 60px;
    font-weight: normal;
    margin-bottom: 30px;
}
.footer-left__line, .footer-right__line{
    background-color: rgb(57, 57, 57);
    height: 1px;
    margin: 25px 0 22px 0;
}
.footer-center__line{
    background-color: rgb(57, 57, 57);
    height: 1px;
    margin: 25px 0 22px 0;
}
.left-content p{
    font-family: 'Open Sans', sans-serif;
    color: #888888;
    font-size: 14px;
    /* margin-top: 53px; */
    line-height: 1.6;
    letter-spacing: 0.7px;
}
.left-menu-icon, a {
    display: flex;    
    margin-top: 45px;
    font-size: 16px;
    color: rgb(130, 130, 130);
}
.left-menu-icon i{
    margin-right: 30px;
}
.footer-center .center-menu{
    display: flex;
    /* flex-wrap: wrap; */
}
.footer-center .center-menu .menu a{
    text-decoration: none;
    color: #888888;
    font-size: 14px;
    line-height: 2.143;;
    font-family: 'Open Sans', sans-serif;
}
.footer-center .center-menu .menu-right a{
    text-decoration: none;
    color: #888888;
    font-size: 14px;
    line-height: 2.143;;
    font-family: 'Open Sans', sans-serif;
}
.footer-center .center-menu .menu ul{
    padding-left: 0px;
    margin-top: 0px;
    /* margin-top: 20px; */
}
.footer-center .center-menu .menu-right ul{
    margin-left: -26px;
    margin-top: 0px;
    /* margin-top: 20px; */
}
.footer-center .center-menu .menu{
    width: 50%;
}
.footer-right .title h4{
    letter-spacing: 0.6px;
}
.footer-center .center-menu .menu a:hover{
    text-decoration: underline;
    color: #ffffff;
}
.footer-center .center-menu .menu-right a:hover{
    text-decoration: underline;
    color: #ffffff; 
}
.footer-right .right-address a:hover{
    text-decoration: underline;
    color: #ffffff; 
}
.footer-right .right-address p:hover{
    text-decoration: underline;
    color: #ffffff; 
}
.right-address li, a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #888888;
    margin-right: 0px;
    
    font-family: 'Open Sans', sans-serif;
}
.right-address  ul{
    padding-left: 0px;
    /* margin-top: 50px; */
}
.right-address li p, a{
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 2.4;
}
.right-address li i{
    margin-right: 20px;
}
.right-address li .address{
    margin-left: 35px;
}
.brick-footer{
    background-color: rgb(57, 57, 57);
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: -26px;
}
/* Footer bottom */
/* .footer-bottom{
    display: flex;
    align-items: center;

} */
.ft{
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}
.ft-bottom{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.footer-bottom__left p, .footer-bottom__right ul{
    display: flex;
    align-items: center;
}
.footer-bottom__left p{
    flex-wrap: wrap;
}
.footer-bottom__right ul{
    margin-top: -4px;
    margin-left: 35px;
}
.footer-bottom .footer-bottom__left p{
    color: #888888;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: -6.5px;  
    letter-spacing: 0.7px;
}
.footer-bottom .footer-bottom__left i{
    color: #ff4628;
    margin: 0 4px 0 4px;
}
.footer-bottom .footer-bottom__left .hitech{
    margin-left: 4px;
    color: #ffffff;
}

.footer-bottom__right ul li i {
    margin-left: 5px;  
    color: #888888;
    font-size: 23px;
}